header {
    padding: 60px;
    background-color: blueviolet;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 6em;
    font-size: 34px;
}

img {
   height: 180px;
   float: left;
   margin-left: 38px;
}

p {
    text-align: center;
    margin-top: 4em;
}